<template name="home">
  <div class="template-home">
    <h1>Welcome to Verso</h1>
    <div class="card-panel">
      <p>
          VERSO CAMPUS
          A cloud-based teaching platform that supports educators in collaborating to build capacity to activate every student voice as a driver for deeper, more personalized instruction.
             <br>
          <br>

          RESOURCES
          Research reports, testimonials, videos, tips, case studies, and more.
          <br>


          SERVICES
          We offer three different Professional Development workshops to help your educators remain at the top of their game
          Verso Campus is the ultimate Professional Development tool for schools. When coupled with our professional services, educators are immersed in the research behind the tools and exposed to fantastic new learning opportunities.
          <br>
          <br>
          Our Verso Learning team can deliver any session on site, online or as a blended learning approach.

      </p>

    </div>
  </div>
</template>
